[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/mandelbrot"]
	path = vendor/mandelbrot
	url = https://github.com/Psidium/mandelbrot
